# Requirements for local development, which aren't installed into the recipe
# image. The base recipes image already includes these, so they're listed here
# instead of in requirements.in.
ellf-recipes-sdk >= 0.1.2
pandas
altair
pytest
