# Requirements for local development, which aren't installed into the recipe
# image. The base recipes image already includes the SDK, so it's listed here
# instead of in requirements.in.
ellf-recipes-sdk >= 0.1.2
pytest
